.wrapper {
  margin-top: 1rem;
  padding: 20px;
  @media (max-width: 450px) {
    padding: 0px;
    padding-top: 20px;
  }
  .header {
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    padding-bottom: 20px;
    @media (max-width: 450px) {
      font-size: 16px;
    }
  }
  .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    @media (max-width: 450px) {
      height: 200px;
    }

    &__img {
      height: 140px;
      width: 140px;
      border-radius: 50%;
      margin-top: 10px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.2s ease;
        object-fit: cover;
        overflow: hidden;
        &:hover {
          transform: scale(1.1);
          opacity: 0.8;
        }
      }
      @media (max-width: 450px) {
        height: 80px;
        width: 80px;
      }
      @media (max-width: 360px) {
        height: 70px;
        width: 70px;
      }
    }
    &__infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 16px;
        color: #222;
        @media (max-width: 450px) {
          font-size: 12px;
        }
      }
      span {
        color: $redish-color;
      }
    }
  }
}
