.swiper_product {
  height: 400px;
  width: 360px;
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  @media (max-width: 380px) {
    width: 340px;
  }
  @media (max-width: 360px) {
    width: 320px;
  }
  @media (max-width: 340px) {
    width: 300px;
  }
  @media (max-width: 320px) {
    width: 280px;
  }
}
