.header {
  height: 100%;
  box-shadow: $shadow-1;
}

//TOP---------------------------------------------------
.top {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  &__container {
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    gap: 15px;
    .li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #666;
      cursor: pointer;
      .flex {
        display: flex;
        align-items: center;
        gap: 2px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }
      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #ccc;
      }
      span {
        font-size: 12px;
      }
      &::after {
        content: "";
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #ccc;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          color: #222;
        }
        svg {
          fill: #666;
        }
      }
    }
  }
}

.main {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
    &_text {
      cursor: pointer;
      color: gray;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .logo {
    height: 90%;
    img {
      width: 44px;
      height: auto;
      @media (max-width: 580px) {
        width: 46px;
      }
    }
  }
}
