.container_terms {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  bottom: 30px;
  margin-top: 40px;
  text-align: justify;
  width: 70%;
  h1 {
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  p {
    font-size: 16px;
    margin-bottom: 1rem;
  }
  @media (min-width: 1240px) {
    max-width: 1200px;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
