@import "../base";
.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .col {
    display: flex;
    flex-direction: column;
    @media (min-width: 700px) {
      flex-direction: row;
      gap: 1rem;
    }
  }
  form {
    width: 100%;
    transition: all 0.2s;
    button {
      width: 100%;
      height: 50px;
      color: #fff;
      font-weight: 600;
      background: $empresy-azul;
      cursor: pointer;
    }
    .select {
      width: 220px;
      margin-bottom: 10px !important;
    }
  }
}
.hide_show {
  height: 45px;
  width: 100%;
  background: transparent;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
  }
}
.addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  .address {
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    box-shadow: $shadow-1;
    cursor: pointer;
    padding: 1rem;
    height: 100%;
    &__delete {
      position: absolute;
      cursor: pointer;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      fill: #666;
      filter: invert(10%);
      z-index: 10;
      &:hover {
        svg {
          color: rgb(255, 51, 0);
        }
      }
    }
    &__edit {
      position: absolute;
      cursor: pointer;
      top: 1rem;
      right: 3.5rem;
      font-size: 1.5rem;
      fill: #666;
      filter: invert(10%);
      z-index: 10;
      &:hover {
        svg {
          color: $empresy-azul;
        }
      }
    }
    &__col {
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
          fill: #666;
        }
      }
    }
    &__side {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      display: grid;
      place-items: center;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: $shadow-1;
        object-fit: cover;
        flex-shrink: 0;
      }
      @media (max-width: 400px) {
        img {
          height: 80px;
          width: 80px;
        }
      }
    }
    .active__text {
      bottom: 1rem;
      right: 1rem;
      color: $success-color;
      font-size: 16px;
      font-weight: bold;
      &:befor {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $success-color;
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
      }
    }
    .visible {
      display: block;
    }

    .hidden {
      display: none;
    }
  }
  .delete_message {
    position: absolute;
  }
}
.active {
  border: 1.5px solid rgb(2, 19, 246);
  border-radius: 10px;
  &:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 4px;
    height: 96%;
    background-image: url("../../../public/images/address.png");
  }
}
