@import "../../base";
.clicktoadd {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  flex-direction: column;
  &__inputs {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__charges {
    font-size: 14px;
    color: #7a7878;
  }
  select,
  input {
    border: none;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 1rem;
    width: 150px;
    height: 40px;
    border-radius: 5px;
  }
  svg {
    width: 30px;
    height: 30px;
    fill: $blue-color;
    cursor: pointer;
    margin-top: 5px;
    &:hover {
      fill: $dark-blue-color;
    }
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
  }
}
.click_btn {
  background: $blue-color;
  width: fit-content;
  font-weight: 600;
  color: #fff;
  height: 50px;
  cursor: pointer;
  margin: 5px 0;
}
.svg {
  width: 30px;
  height: 30px;
  fill: $blue-color;
  cursor: pointer;
  margin-top: 5px;
  &:hover {
    fill: $dark-blue-color;
  }
}
.adddetail {
  svg {
    width: 30px;
    height: 30px;
    fill: $blue-color;
    cursor: pointer;
    margin-top: 5px;
    &:hover {
      fill: $dark-blue-color;
    }
  }
}
