.category {
  max-width: 500px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  // Remove if you prefer a fixed height
  // height: fit-content;

  // --- For the zoom effect:
  // 1) Hide overflowing parts of the image container
  overflow: hidden;

  .img {
    width: 100%;
    height: auto;
    // 2) Add transition for a smooth effect
    transition: transform 0.5s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // If you want to animate via the img itself, you can put transition here too
    }
  }

  // 3) On hovering the parent .category, scale up .img
  &:hover {
    .img {
      transform: scale(1.1);
      // transform-origin: center; // Optional, default is center center
    }
  }

  &__see_all {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 30px;

    @media (max-width: 450px) {
      padding-bottom: 4px;
    }
    button {
      background: $mongir-blue;
      border-radius: 10px;
      color: $mongir-text;
      font-weight: bold;
      cursor: pointer;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px;
      gap: 10px;
      svg {
        font-size: 22px;
      }

      @media (max-width: 460px) {
        font-size: 16px;
        padding: 5px 20px;
        white-space: nowrap;
        svg {
          font-size: 15px;
        }
      }
      @media (max-width: 400px) {
        font-size: 14px;
        padding: 5px 15px;
      }
    }
  }
}
