.header {
  height: 57px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  &__container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
    img {
      height: 45px;
      width: 45px;
      cursor: pointer;
      object-fit: contain;
    }
    @media (max-width: 730px) {
      img {
        width: 50px;
      }
    }
  }
  &__right {
    a {
      display: flex;
      align-items: center;
      color: #666;
      text-transform: uppercase;
      font-size: 12px;
    }
    svg {
      fill: #666;
      width: 12px;
      height: 12px;
    }
    &:hover {
      text-decoration: underline;
      color: #000;
      cursor: pointer;
    }
  }
}
