.home {
  min-height: 100vh;
  background: $grey-color;

  &__category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 40px;

    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 449px) {
      margin-top: 0;
    }
  }

  .products {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .infinite {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    bottom: 30px;
    @media (min-width: 1240px) {
      max-width: 1200px;
    }
    @media (max-width: 450px) {
      padding: 0;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: grid;

  .subMenu {
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    width: 100%;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr); // 3 columns for wide screens
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr); // 2 columns for medium screens
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr; // 1 column for mobile screens
    }

    li {
      padding: 5px;
      border-radius: 10px;
      border: 1px solid rgb(199, 198, 198);
      height: fit-content;

      a {
        color: #000; // Adjust as needed
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 350px) {
          flex-direction: column;
          text-align: center;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
