/* styles/Loading.module.scss */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff; /* Optional: Set a background color */
}

.logo {
  width: 130px;
  height: 130px;
  animation: grow-shrink 2s infinite ease-in-out;
  object-fit: contain;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Grow to 120% */
  }
  100% {
    transform: scale(1); /* Shrink back to original size */
  }
}

.loadingText {
  font-size: 1.2rem;
  color: #555555; /* Optional: Set text color */
}
