.login {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 790px) {
    flex-direction: column;
    align-items: center;
  }

  &__container {
    padding: 3rem;
    &:last-of-type {
      margin-top: 1rem;
      @media (max-width: 790px) {
        margin-top: 0;
      }
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
    gap: 10px;

    @media (max-width: 350px) {
      max-width: 300px;
    }

    .back__svg {
      a {
        width: 50px;
        height: 50px;
        border: 1px solid #66666657;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        flex-shrink: 0;
        &:hover {
          border-color: $blue-color;
          svg {
            fill: $blue-color;
          }
        }
        svg {
          width: 20px;
          height: 20px;
          fill: #222;
        }
      }

      &:hover {
        border-color: $blue-color;
        svg {
          fill: $blue-color;
        }
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #222;
      }
    }
    span {
      font-weight: 600;
      font-size: 18px;
      //padding-left: 10px;

      a {
        color: $blue-color;
        cursor: pointer;
        border-bottom: 1px solid $blue-color;
        padding-bottom: 5px;
      }
    }
    span:nth-child(1) {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $border-color;
    padding: 20px;
    border-radius: 20px;

    h1 {
      font-size: 28px;
      margin: 0;
      @media (max-width: 790px) {
        font-size: 25px;
      }
    }
    p {
      color: #96979b;
      text-align: center;
      font-size: 18px;
    }
    form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 790px) {
        width: 100%;
      }

      .forgot {
        color: #666;
        padding-top: 1rem;
        font-size: 14px;
        width: fit-content;
        height: 40px;
        display: flex;

        &:hover {
          color: $blue-color;
          border-bottom: 1px solid $blue-color;
        }
      }
    }
    .link {
      color: $empresy-azul;
      &:hover {
        color: $blue-color;
        border-bottom: 1px solid $blue-color;
      }
    }
    @media (max-width: 790px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $border-color;
      padding: 20px;
      border-radius: 20px;
    }
  }
  &__socials {
    margin-top: 1rem;
    @media (max-width: 790px) {
      display: flex;
      flex-direction: column;
    }
    .or {
      position: relative;
      color: #666;
      padding-left: 6rem;
      &:before,
      &:after {
        content: "";
        width: 80px;
        height: 1px;
        background: #66666648;
        position: absolute;
        top: 50%;
      }
      &:before {
        left: 220px;
      }
      &:after {
        left: -8px;
      }
      @media (max-width: 790px) {
        padding-left: 5.5rem;

        &:before {
          left: 210px;
        }
        &:after {
          left: -8px;
        }
      }
    }
    &_wrap {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (max-width: 790px) {
        padding-left: 0;
      }
      img {
        width: 36px;
        cursor: pointer;
      }
    }
  }
}
.social__btn {
  border: none;
  outline: none;
  width: 290px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  gap: 10px;
  background: transparent;
  border: 1px solid #66666683;
  cursor: pointer;
  img {
    height: 34px;
  }
}
